<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0">
  <Header>
    <Title>template</Title>
    <Shortcut></Shortcut>
  </Header>
  <Snippet>
    <Code Language="CPP">
      // insert code
    </Code>
  </Snippet>
</CodeSnippet>